@model List<asp.net.Students.Models.Quiz>
@{
    var subjects = ViewData["Subjects"] as List<Subject>;
    var groups = ViewData["Groups"] as List<Group>;
}

<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Add Quiz
</button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add Quiz</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-area="Teacher" asp-controller="Quiz" asp-action="Add">
                <div class="modal-body">
                    <div class="mb-3">
                         <label class="form-label w-100">
                            Quiz Title:
                            <input class="form-control" type="text" name="QuizName">
                        </label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label w-100">
                            Quiz by:
                            <select class="form-control" name="QuizSubject">
                                @if (subjects != null)
                                {
                                    foreach (var subject in subjects)
                                    {
                                        <option value="@subject.Id">@subject.Name</option>
                                    }
                                }
                            </select>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Select groups:</label>
                        @foreach (var group in groups)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="groupCheckbox_@group.Id" name="SelectedGroups" value="@group.Id">
                                <label class="form-check-label" for="groupCheckbox_@group.Id">@group.Name</label>
                            </div>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 10%">ID</th>
            <th style="width: 15%">Title</th>
            <th style="width: 15%">For groups:</th>
            <th style="width: 15%">Subject</th>
            <th style="width: 15%">Teacher</th>
            <th style="width: 10%">Count of questions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if (Model != null)
    {
        foreach (var quiz in Model)
        {
            <tr>
                <td style="width: 10%">@quiz.Id</td>
                <td style="width: 15%">@quiz.Title</td>
                <td style="width: 15%">
                    @foreach (var g in @quiz.Groups)
                    {
                        <p class="m-0">- @g.Name</p>
                    }
                </td>
                <td style="width: 15%">@quiz.Subject.Name</td>
                <td style="width: 15%">@quiz.Teacher.Email</td>
                <td class="text-center" style="width: 10%">@quiz.Questions.Count()</td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@quiz.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@quiz.Id">Delete</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>
